<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Mains Lab Test"/>
    <meta name="author" content="Ruslan Myrzabekov"/>
    {% block head %} {% endblock %}

    {% load static %}

    <title>Mains Lab</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <style type="text/css">
        body {
            background-image: url("{% static 'assets/windows.jpg' %}");
        }
    </style>
    {% block style %} {% endblock %}

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Mains Lab company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'upload_files' %}">Загрузка файлов</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'clients_list' %}">Список клиентов</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bills_list' %}">Список счетов</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content-->
<section>
    {% block content %}
    {% endblock %}
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
{% block scripts %} {% endblock %}
</body>
</html>