{% extends "base_page.html" %}

{% block content %}
{% load widget_tweaks %}

<div class="container-fluid">
    <div class="row main-body">
        <div class="col-12 col-md-12 col-lg-9 my-md-2">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h3 class="table-heading">Список счетов</h3>
                    {% if bills %}
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>Клиент</th>
                                <th>Номер счета</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        {% for bill in bills %}
                        <tbody class="tbody">
                            <tr class="table-row">
                                <td>{{ bill.organization }}</td>
                                <td>{% if bill.number %}{{bill.number}}{% else %}0{% endif %}</td>
                                <td>{% if bill.summa %}{{bill.summa}}{% else %}0{% endif %}</td>
                                <td>{% if bill.committed_date %}{{bill.committed_date}}{% else %}Неизвестно{% endif %}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>Нет данных</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-3 my-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="p-4 border rounded">
                        <h3 class="form-heading">Поиск по параметрам</h3>
                        <form action="" class="row g-3 needs-validation" novalidate="" method="get"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row-cols-1 form-row form-row-small">
                                {{ bill_filter.form.organization.label_tag }}
                                {% render_field bill_filter.form.organization class="form-select" %}
                            </div>
                            <div class="row-cols-1 form-row form-row-small">
                                <label for="id_organization__client">Клиент:</label>
                                {% render_field bill_filter.form.organization__client class="form-select" %}
                            </div>
                            <div class="col-12" style="text-align: center">
                                <button class="btn btn-dark btn-cnt form-btn form-btn-small" type="submit">Поиск</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    console.log('{{bills}}');
</script>
{% endblock %}