{% extends "base_page.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row main-body">
        <div class="col col-md my-md-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="table-heading">Список клиентов</h3>
                    {% if clients %}
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>Клиент</th>
                                <th>Кол-во организаций</th>
                                <th>Приход</th>
                            </tr>
                        </thead>
                        {% for client in clients %}
                        <tbody class="tbody">
                            <tr class="table-row">
                                <td>{{ client.name }}</td>
                                <td>{% if client.count %}{{client.count}}{% else %}0{% endif %}</td>
                                <td>{% if client.summa %}{{client.summa}}{% else %}0{% endif %}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>Нет данных</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    console.log('{{clients}}');
</script>
{% endblock %}