{% extends "base_page.html" %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h1>Тестовое задание Mains Lab</h1>
                    <p>Загрузка xlsx файлов и сохранение в БД.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}