{% extends "base_page.html" %}

{% block style %}
<style type="text/css">
    .field-input {
        margin: 10px 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h1>Загрузите файлы</h1>
                    <form method="POST" class="post-form" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col field-input">
                            <label for="client_org">Таблица клиентов и организаций:</label>
                            <input type="file" id="client_org" name="client_org"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            {% if error_1 %}
                            <p style="color: red">{{ error_1 }}</p>
                            {% endif %}
                        </div>
                        <div class="col field-input">
                            <label for="bills">Таблица счетов:</label>
                            <input type="file" id="bills" name="bills"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            {% if error_2 %}
                            <p style="color: red">{{ error_2 }}</p>
                            {% endif %}
                        </div>
                        <div class="col field-input">
                            <button type="submit" class="btn btn-dark">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}